*{
    box-sizing: border-box;
    margin: 0;
}
.container {
    display: flex;
    align-items: stretch;
    justify-content: center;
}header{
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    width: 100%;
    min-height: 50px;
    position: sticky;
    top: 0;
    z-index: 1000;
}
body{
    margin: 0;
}
p.font{
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;;
    padding: 0;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:aliceblue;
    font-style:normal
}
main{
    font-family: Arial, Helvetica, sans-serif;
}
/*Thanh phan tinh nang o dau*/
.menu {
    display: inline-block;
    cursor: pointer;
    position: relative;
    margin-top: 20px;
    right:480px;
  }
  
  .bar {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 6px 0;
    border-radius: 5px;
  } 
.menu:hover {
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.9);
}   
img.icon{
    position: relative;
    left: 35px;
    padding: auto;
    display: flex;
    width: 320px;;
    height: 70px;
}
img.search{
    position: relative;
    left:450px;
    margin-top: 30px;
    padding: auto;
    display: flex;
    max-width: 25x;
    height: 25px;
}
.search:hover {
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.9);
}
img.account{
    position: relative;
    left:460px;
    margin-top: 30px;
    padding: auto;
    display: flex;
    max-width: 25x;
    height: 25px;
}
.account:hover {
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.9);
}
img.cart{
    position:relative;
    left: 480px;
    margin-top: 30px;
    padding: auto;
    display: flex;
    width: 25px;
    height: 25px;
}
.cart:hover {
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.9);
}
/* Tao ra phan thanh lua chon */
.intro a{ 
    margin: 2px;
    position: relative;
    right:330px;
    display: block;
    padding: 20px 20px;
    color: rgb(0, 7, 7);
    text-decoration: none;
    float: left;
    font-size:large;
    font-weight:bolder;
}
.intro a:hover{
    background-color:#ccc;
    border-radius: 8px;
}
  /* Tao slideshow */
  .brand {
    position: relative;
    display: block;
    width: 100%;
    height: 700px;
    overflow: hidden;
    margin-top: 15px;
}
img.size{
    width: 100%;
    height: 100%;
}
  .brand .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: slideShow 12s infinite;
  }
  .brand .slide:nth-child(1) {
    animation-delay: 0s;
  }
  .brand .slide:nth-child(2) {
    animation-delay: 3s;
  }
  .brand .slide:nth-child(3) {
    animation-delay: 6s;
  }
  .brand .slide:nth-child(4) {
    animation-delay: 9s;
  }
  @keyframes slideShow {
    0% { opacity: 0; }
    10% { opacity: 1; }
    30% { opacity: 1; }
    40% { opacity: 0; }
    100% { opacity: 0; }
  }
  @media  screen and (max-width: 1024px) {
    .service_box{
        transform: scale(0.8);
    }
  }
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#f7f7f7;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1000;
  }
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#f7f7f7;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1000;
  }
.popup button{
   background-color: rgb(223, 231, 231);
  }
  .popup button:hover{
    background-color: rgb(181, 182, 182);
   }
.popup-content {
    text-align: center;
    margin: 0;
}
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 20px;
  }
.btn {
    padding: 10px 20px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
  }
  .banner__buttons {
    position: absolute  ;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 10px 20px;
    color: black;
    transition: 0.3s ease-in-out;
    font: inherit;
    width: 400px;
    height: 60px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: all 0.3s ease-in-out; /* Hiệu ứng mượt mà */
}
.banner__buttons a{
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: black;
    font-weight:400;
}
.banner__buttons:hover {
    transform: translateX(-50%) scale(1.03);
    background-color: rgba(255, 255, 255, 0.9); /* Làm sáng nền nhẹ */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Tăng độ đổ bóng */
}
.nav-tab{
    display: flex;
    width: 100%;
    position: relative;
    left:20px;
    margin-bottom: 30px;
}
.nav-buttons{
    margin-top: 20px;
    border: none;
    background-color: #ffffff;
    justify-content: center;
}
.nav-buttons h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #bfb6b6;
}
.nav-buttons h2:hover{
    color: black;
}
.btitles{
    position: absolute;
    right: 60px;
    background-color: black;
    margin-top: 20px;
    padding: 5px 30px;
    text-align: center;
    justify-content: center;
    display: flex;;
}
.btitles a{
    color: #ffffff;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    font-size: 16px;
    white-space: nowrap;
    padding: 4px 4px;    
}
.btitles:hover{
    transform: scale(1.03); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}
/*Hinh anh sam pham*/
.product-list{
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    list-style: none;
    padding: 0;
    z-index: 1;
    margin: 0;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* Điều chỉnh cột linh hoạt */
    width: 100%;
    margin: auto; /* Căn giữa */
    box-sizing: border-box;
}

.flex-product {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Căn chỉnh nội dung */
    background: white;
    padding: 10px 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Hiệu ứng bóng nhẹ */
    transition: transform 0.2s ease-in-out;
    gap: 20px;
    border: 1px solid #ccc;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.flex-product a{
    text-decoration: none;
    color: black;
    font-size: large;
}
.img-product {
    width: 100%; /* Để hình ảnh không bị méo */
    height: 500px;
    object-fit: cover;
    border-radius: 10px; /* Làm mềm góc ảnh */
}
/*video gioi thieu*/
.product-intro{
    display: flex;
    justify-content: stretch;
    background-color: #f5f1f1;
    gap: 40px;
}
.collumn-left{
    margin-left: 20px;
    display: flex;
    margin-top: 40px;
    width: 50%;
    float: left;
}
.collumn-left iframe{
    width: 100%;
    height: 400px;
}
.collumn-right{
    margin-right: 20px;
        margin-top: 150px;
        width: 50%;
        justify-content: center;
        text-align: left;
        height: 100%;
        align-items: center;
        font-size:17px;
    }
.collumn-right p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.slogan{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:400;
    font-size: 25px;
}