<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mai more mood</title>
    <link rel="stylesheet" href="/static/css/homepage.css">
    <link rel="icon" type = "img/png" href="/static/pictures/logorgb copy.png" sizes="192x192">
    <script src="/js/homepage.js"></script>
</head>
<body>
<div id="loginPopup" class="popup">
  <div class="popup-content">
    <span class="close" onclick="closepopup()">&times;</span>
    <div class="popup-header">
        <h3>Đăng nhập</h3>
    </div>
    <form action="/" method="post">
      <label for="email">Email:</label>
      <input type="email" id="email" required style="border-radius: 4px; padding: 6px 6px; margin: 4px; width: 100%;">
      <br>
      <label for="password">Mật khẩu:</label>
      <input type="password" id="password" required style="border-radius: 4px; padding: 6px 6px; margin: 4px; width: 100%;">
      <br>
      <button type="submit" style="border-radius: 4px; padding: 4px 4px; margin: 4px;">Đăng nhập</button>
    </form>
  </div>
</div>
<!-- <div>
    <div class="searchbox">
        <form action="/" method="POST">
            <input type="text" name="userInput" placeholder="Tìm kiếm">
            <img src="/pictures/search-svgrepo-com.svg" alt="search icon" width="20px" height="20px">
        </form>
    </div>
</div> -->
    <header>
        <div class="tonav">
            <p class="font">Chào mừng đến với Mai more mood=P</p>
        </div>
    </header>
    <main>
        <div>
        <div class="container">
            <div class="menu">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
              </div>
        <div>
            <img src="/static/pictures/logo ngang.png   " alt="logo" class="icon">
        </div>
        <div class="container">
            <a href="#">
                <img src="/static/pictures/search-svgrepo-com.svg" alt="cart" class = "search" width="50px" height="50px">
            </a>
            <a href="#" onclick="openpopup()">
                <img src="/static/pictures/account-svgrepo-com.svg" alt="cart" class = "account" width="50px" height="50px">
            </a>
            <a href="#">
                <img src="/static/pictures/cart-shopping-svgrepo-com.svg" alt="account" class = "cart" width="100px" height="100px">
            </a>
        </div>
    </div>
    </div>
    <div class="container">
        <div class="brand">
            <div class="slide">
                <img src="/static/pictures/mandeo ngang copy.jpg" alt="" class="size">
            </div>
            <div class="slide">
                <img src="/static/pictures/mankhia ngang copy.jpg" alt="" class="size">
            </div>
            <div class="slide">
                <img src="/static/pictures/mandeochuangot ngang copy.jpg" alt="" class="size">
            </div>
            <div class="slide">
                <img src="/static/pictures/saubaotu ngang.jpg" alt="" class="size">
            </div>
            <div class="banner__buttons">
                <a href="#">Xem sản phẩm</a>
            </div>
        </div>
    </div>
    <!--Tao -->
    <div class="container">
        <div class="nav-tab">
            <button class="nav-buttons">
                <h2>BEST SELLER</h2>
            </button>
            <button class="nav-buttons">
                <h2>NEW ARRIVALS</h2>
            </button>
            <div class="btitles">
                <a href="">
                    Xem tất cả
                </a>
            </div>
        </div>
    </div>
    <div class="product-list">
        <div class="product-grid">
            <div class="flex-product">
                <div class="product-content">
                    <a href="#">
                        <img src="/static/pictures/1.png" alt="" class="img-product">
                    </a>
                    <div>
                        <a href="#">
                            <p>
                                Mận dẻo chua ngọt
                            </p>
                            <p>⭐⭐⭐⭐⭐</p>
                            <p>35000</p>
                        </a>
                    </div>
                </div>
                <div>
                    <a href="#">
                        <img src="/static/pictures/2.png" alt="" class="img-product">
                    </a>
                    <div>
                            <a href="#">
                                <p>
                                    Mận khía xào cây
                                </p>
                                <p>⭐⭐⭐⭐⭐</p>
                                <p>35000</p>
                            </a>
                    </div>
                </div>
                <div>
                    <a href="#">
                        <img src="/static/pictures/3.png" alt="" class="img-product">
                    </a>
                    <div>
                        <a href="#">
                            <p>
                                Mận xí muội
                            </p>
                            <p>⭐⭐⭐⭐⭐</p>
                            <p>35000</p>
                        </a>
                    </div>
                </div>
                <div>
                    <a href="#">
                        <img src="/static/pictures/4.png" alt="" class="img-product">
                    </a>
                    <div>
                        <a href="#">
                            <p class="product-info">
                                Mận bao tử
                            </p>
                            <p>⭐⭐⭐⭐⭐</p>
                            <p>35000</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-intro">
        <div class="collumn-left">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/OsIa_gTnZAg?si=toLek21NeCd34KRK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="collumn-right">
            <p class="slogan">
              Mai more mood, Hương Vị Truyền Thống, Gắn Kết Yêu Thương! 
            </p>
            <br>
            <p>
                Từ những trái cây tươi ngon được chọn lọc kỹ lưỡng, chúng tôi tạo ra những viên ô mai đậm đà hương vị chua cay, mặn ngọt hòa quyện trong từng miếng nhỏ. Mỗi viên ô mai không chỉ là một món ăn vặt mà còn là một phần ký ức, gợi nhớ về hương vị quê hương và những câu chuyện thân thương bên tách trà ấm.Với tâm huyết và bí quyết gia truyền, [Tên Thương Hiệu] cam kết mang đến những sản phẩm ô mai chất lượng, an toàn và đầy đủ hương vị truyền thống. Hãy để từng viên ô mai đánh thức vị giác và làm ấm lòng những khoảnh khắc sum vầy!
            </p>
            <div class="more">
                <a href="">
                    Xem thêm
                </a>
            </div>
        </div>
    </div>
    <div class="product-intro">
        <div class="collumn-left">
            <p class="sales">ƯU ĐÃI MUA SẮM ĐẶC BIỆT</p>
            <p>Giảm đến 50% | Voucher 30.000đ</p>
            <div class="sale-button">
                <a href="">
                    Khám phá ngay
                </a>
            </div>
        </div>
        <div class="collumn-right">
            <img src="/static/pictures/anhdd.webp" alt="">
        </div>
    </div>
    <div class="slider-wraper mySwiper">
        <div class="head-slider">
            <div>OUR PRODUCTS</div>
            <div class="btitles-slide">
                <a href="">
                    Xem tất cả
                </a>
            </div>
        </div>
        <div class="slider">
            <div class="slider-img"><img src="/static/pictures/slider.jpg" alt=""></div>
            <div class="slider-img"><img src="/static/pictures/slider1.jpg" alt=""></div>
            <div class="slider-img"><img src="/static/pictures/slider2.jpg" alt=""></div>
            <div class="slider-img"><img src="/static/pictures/slider3.jpg" alt=""></div>
            <div class="slider-img"><img src="/static/pictures/slider4.jpg" alt=""></div>
            <div class="slider-img"><img src="/static/pictures/slider5.jpg" alt=""></div>
        </div>
            <button class="prev slide-button" onclick="prevSlide()">&#10094;</button>
            <button class="next slide-button" onclick="nextSlide()">&#10095;</button>
    </div>
    </main>
    <footer>
        <div class="footer-container">
            <h1>Liên kết</h1>
        </div>
    </footer>
</body>
</html>