<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/static/homepage.css">
</head>
<body>
    <header>
        <div class="tonav">
            <p class="font">Chào mừng đến với Mai more mood</p>
            <a href="/login">Đăng nhập</a>
            <a href="/signup">Đăng ký</a>
            <a href="#">Hỗ trợ</a>
        </div>
    </header>
    <main>
        <div  class="border">
        <div class="container">
        <img src="/static/logo.jpg" alt="" class="icon">
        <div class="searchbox">
            <form action="/" method="POST">
                <input type="text" name="userInput" placeholder="Tìm kiếm">
                <button type="submit">🔍</button>
            </form>
        </div>
        <a href="#">
            <img src="/static/cart.png" alt="" class = "cart">
        </a>
        <a href="#">
            <img src="/static/save.png" alt="" class = "save">
        </a>
        <div class="intro">
            <a href="#">TRANG CHỦ</a>
            <a href="#">SẢN PHẨM</a>
            <a href="#">BÀI VIẾT</a>
            <a href="#">GIỚI THIỆU</a>
            <a href="#">LIÊN HỆ</a>
        </div>
    </div>
    </div>
    <div class="container">
        <div class="list">
            <div class="menu_header">
                <span>🎖️</span>
                <span>Danh mục</span>
            </div>
            <nav>
                <ul class="menu_list">
                    <li>
                        <a href="#">SP1</a>
                    </li>
                    <li>
                        <a href="#">SP2</a>
                    </li>
                    <li>
                        <a href="#">SP3</a>
                    </li>
                    <li>
                        <a href="#">SP4</a>
                    </li>
                    <li>
                        <a href="#">SP5</a>
                    </li>
                    <li>
                        <a href="#">SP6</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="brand">
            <div class="slide">
                <img src="/static/brand0.webp" alt="" class="size">
            </div>
            <div class="slide">
                <img src="/static/brand1.jpg" alt="" class="size">
            </div>
            <div class="slide">
                <img src="/static/brand2.webp" alt="" class="size">
            </div>
        </div>
    </div>
    <p>
        You search for:{{usertxt}}
        {% for row in table %}
        <li>
            {{row[0]}}
            - {{row[1]}}
            - {{row[2]}}
        </li>
        {% endfor %}
    </p>
    </main>
</body>
</html>